<script setup>

import { inject, ref } from 'vue'

const { user } = defineProps(['user'])
const { apiURL } = inject('apiURL')

const display = ref("grid");

const bookList = ref([])

fetch(apiURL + '/book_list', {credentials: 'include'})
  .then((response) => response.json())
  .then((response) => {
    bookList.value = response.data.books
  })

</script>

<template>

  <section class="container">
   <div>add book page</div>
  </section>
</template>

<style scoped>

  img.cover {
    height: auto !important;
    max-height: 100%;
    width: auto !important;
    max-width: 100%;
    margin: auto;
  }

  img.cover-min {
    max-height: 8em;
  }

  .image {
    border-radius: 0.4em;
  }

  .image:hover {
    background-color: hsl(171, 100%, 41%);
    cursor: pointer;
  }

  .display {
    margin-left: 0.5em;
  }

</style>
