<script setup>

import { inject, ref } from 'vue'

const { user } = defineProps(['user'])
const { apiURL } = inject('apiURL')

const display = ref("grid");

const bookList = ref([])

fetch(apiURL + '/book_list', {credentials: 'include'})
  .then((response) => response.json())
  .then((response) => {
    bookList.value = response.data.books
  })

</script>

<template>

  <section class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
        <o-field variant="primary">
          <o-input placeholder="Chercher un livre" type="search" icon="search" size="medium" expanded> </o-input>
        </o-field>
      </div>
        <div class="level-item">
          <p class="subtitle is-3 has-text-grey">{{bookList.length <= 1 ? bookList.length + ' livre' : bookList.length + ' livres'}}</p>
        </div>
      </div>

      <div class="level-right">
            
        <o-dropdown aria-role="list" rootClass="is-right" itemClass="is-primary">
          <template #trigger>
            <o-button variant="primary" size="medium">
              <o-icon icon="arrow-down-short-wide" size="medium"> </o-icon>
            </o-button>
          </template>
          <o-dropdown-item aria-role="listitem">Date de lecture (du plus récent au plus ancien)</o-dropdown-item>
          <o-dropdown-item aria-role="listitem">Date de lecture (du plus ancien au plus récent)</o-dropdown-item>
        </o-dropdown>

        <o-button variant="primary" size="medium" @click="display = display == 'grid' ? 'list' : 'grid'" rootClass="display">
          <o-icon :icon="display == 'grid' ? 'grip' : 'list'" size="medium"> </o-icon>
        </o-button>

      </div>
    </div>

    <div class="columns is-multiline" v-show="display == 'grid'">
      <div v-for="book in bookList" class="column is-half-tablet is-2-desktop">
        <figure class="image is-3by4">
          <img :src="''" class="cover p-3" />
        </figure>
      </div>
    </div>

    <div v-show="display == 'list'">
      <div v-for="book in bookList"><img :src="''" class="cover-min" /> Titre du livre {{book}}</div>
    </div>
  </section>
</template>

<style scoped>

  img.cover {
    height: auto !important;
    max-height: 100%;
    width: auto !important;
    max-width: 100%;
    margin: auto;
  }

  img.cover-min {
    max-height: 8em;
  }

  .image {
    border-radius: 0.4em;
  }

  .image:hover {
    background-color: hsl(171, 100%, 41%);
    cursor: pointer;
  }

  .display {
    margin-left: 0.5em;
  }

</style>
