<template>
  <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Ma Bibliothèque</strong> est développé avec <o-icon icon="heart"></o-icon> pour Maman.
    </p>
  </div>
</footer>
</template>
