<script setup>
import { inject } from 'vue'
import { useRouter } from 'vue-router'

const { user } = defineProps(['user'])

const emit = defineEmits(['logout'])

</script>

<template>
  <nav class="navbar mb-6 has-background-primary-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <router-link :to="{name: 'home'}" class="navbar-item has-text-white is-size-3">
        <o-icon icon="book-open"></o-icon>
        <span class="has-text-weight-medium ml-4">Ma Bibliothèque</span>
      </router-link>

      <a role="button" class="navbar-burger is-active" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <template v-if="!user.connected">
            <router-link :to="{name: 'login'}" class="button is-primary is-rounded is-outlined is-inverted">
              <strong>Se connecter</strong>
            </router-link>
          </template>
          <template v-else>
            <o-button class="is-primary is-rounded is-outlined is-inverted" @click="emit('logout')">
              <strong>Se déconnecter</strong>
            </o-button>
          </template>
        </div>
      </div>
    </div>
  </nav>
</template>
