<script setup>

import { inject, reactive } from "vue"

const { apiURL } = inject('apiURL')

const emit = defineEmits(['login'])

const credentials = reactive({
  username: '',
  password: '',
  })

</script>

<template>
  <div class="columns">
    <div class="column is-one-third is-offset-one-third">
      <form :action="apiURL + '/login'" class="box my-6" @submit.prevent="emit('login', credentials)">
        <p class="title has-text-centered">Connexion</p>
        <o-field variant="primary" label="Utilisateur">
            <o-input type="text" placeholder="Nom d'utilisateur" v-model="credentials.username"> </o-input>
        </o-field>
        <o-field variant="primary" label="Mot de passe">
            <o-input type="password" placeholder="*****" v-model="credentials.password"> </o-input>
        </o-field>
        <div class="has-text-centered mt-5">
          <o-button tag="input" native-type="submit" variant="primary" value="Se connecter" />
        </div>
      </form>
    </div>
  </div>
</template>