<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup

import Header from './components/Header.vue';
import Footer from './components/Footer.vue';

import { inject, onBeforeMount, provide } from 'vue'

const apiURL = 'http://localhost:8000'

const { user, login, logout } = inject('user')

</script>

<template>
  <Header :user="user" @logout="logout"/>
  <router-view class="mainContent" v-slot="{ Component }">
    <transition name="fade">
      <component :is="Component" :user="user" @login.once="login" />
    </transition>
  </router-view>
  <Footer />
</template>

<style scoped>
.mainContent {
  min-height: 50em;
}
</style>
